
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-intro {
  margin-left:auto;
  margin-right: auto;
  width: calc(100vw - 25vw);
  min-height: 50vh;
  height: 50vh;
  padding: 4em;
  min-height:12em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-name {
  color: #333333;
  font-size: 8vw;
  line-height:1.2;
  margin: 0;
}

.card-byline {
  font-size: 3vw;
  line-height:1.5;
}

@media only screen and (max-width: 600px) {
  .card-intro {
    padding: 2em;
    height: 70vh;
  }
  .card-name {
    font-size: 40px;
  }
  .card-byline {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1100px) {
  .card-name {
    font-size: 5.5rem;
  }
  .card-byline {
    font-size: 30px;
  }
}



.slope-container {
  overflow:hidden;
}

.se-slope {
  margin: 0 -50px;
  transform-origin: left center;
}
.se-slope:nth-child(odd) {
  background: #000;
  transform: rotate(5deg);
  margin-top: -100px;
  box-shadow: 0px -1px 3px rgba(0,0,0,0.4);
}
.se-slope:nth-child(even) {
  background: #e90089;
  transform: rotate(-5deg);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4) inset;
}
