
.App {
  text-align: center;
  overflow: hidden;
  font-family: 'Kameron', 'Open Sans', sans-serif;
}

.App-header {
  background-color: #222;
  background-image: url('images/thomas-image.jpg');
  background-size: cover;
  background-position: center;
  padding: 4rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.intro-container {
    background: #FAFAFA;
    width: 60vw;
    margin: 2rem auto;
    transform: translateY(-13rem);
    padding: 3rem 0;
    box-shadow: 0 4px 6px 0px RGBA(0,0,0,0.4);
}

.social-icons-container {
  margin-top: 3rem;
}

.card-name {
  color: #333;
  font-size: 6vw;
  line-height:1.2;
  margin: 0;
}

.card-byline {
  color: #333;
  font-size: 2.2vw;
  line-height:1.5;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  white-space: pre-line;
  text-align: left;
}

@media only screen and (max-width: 750px) {
  .card-name {
    font-size: 40px;
  }
  .card-byline {
    font-size: 20px;
    width: 100%;
  }

  .intro-container {
    width: 100vw;
  }
}

@media only screen and (min-width: 1100px) {
  .card-name {
    font-size: 4rem;
  }
  .card-byline {
    font-size: 30px;
  }
}

.social-icon {
  margin-right: 6px;
}