.featureContainer {
  width: 50vw;
  margin: 5rem auto -8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .featureContainer {
    width: 80vw;
  }
}

.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: auto;
  padding-right: 1rem;
  text-align: left;
  text-shadow: 0 0 1px RGBA(0, 0, 0, 0.5);
  background: black;
  padding: 1rem 2rem;
}

@media (max-width: 600px) {
  .feature-text {
    flex-direction: column;
  }
}

.feature {
  margin: 2.4rem 0;
  padding: 0 2rem;
  transform: translate3d(0, -150px, 0);
  transition: transform 250ms;
  font-size: 1.2rem;
  max-width: 130%;
}

.projectOpen .feature {
  margin-bottom: 12rem;
  transform: translate3d(0, 0, 0);
}

.feature-title {
  font-size: 3rem;
}

.feature-category {
  padding-bottom: 0.5rem;
}

.feature-description {
  font-family: Helvetica, sans-serif;
  text-align: left;
  margin: 2rem 0 4rem;
  line-height: 1.6;
  opacity: 0;
  transition: opacity 2s;
}

.projectOpen .feature-description {
  opacity: 1;
}

.videoElement {
  width: 100%;
  opacity: 0.5;
  transition: opacity 350ms;
  transition: width 350ms;
  transition-delay: 350ms;
  transition-timing-function: ease-in;
}

.projectOpen audio {
  box-shadow: 0 -2px 30px 7px RGBA(0, 0, 0, 0.4);
  max-width: 600px;
  width: 50vw !important;
  transform: scale(1.4);
}

.projectClosed audio {
  max-width: 100px;
}

.projectOpen .videoElement {
  opacity: 1;
  width: 95vw;
}

.projectClosed .videoElement {
  pointer-events: none;
}

.projectClosed .featureContainer {
  cursor: pointer;
}

video,
iframe {
  margin: 0 auto;
  height: 60vh;
  max-width: 1100px;
  min-height: 350px;
}
