.featureContainer {
	width: 50vw;
	margin: 10rem auto 15rem;
	display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 700px) {
  .featureContainer {
    width: 80vw;
  }
}

.feature-text {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	margin: 2rem 0 4rem;
}

@media (max-width: 600px) {
	.feature-text {
		flex-direction: column;	
	}

}

.feature {
	margin: 2.4rem 0;
	padding: 0 2rem;
	transform: translate3d(0,-150px,0);
    transition: transform 300ms;
    font-size: 1.2rem;
}

.projectOpen .feature {
	transform: translate3d(0,0,0);
}

.feature-title {
	font-size: 1.6rem;
	margin-right: auto;
	padding-right: 1rem;
	text-align: left;
	text-rendering: geometricPrecision;
    text-shadow: 0 0 1px RGBA(0,0,0,0.5);
}

.feature-category {
	padding-top: 1rem;
	font-variant: small-caps;
}

.feature-description {
	text-align: left;
	line-height: 1.6;
}

.videoElement {
	width: 100%;
	opacity: 0.8;
	transition: opacity 300ms;
	transition: width 800ms;
	transition-delay: 500ms;
}
.projectOpen .videoElement {
	opacity: 1;
	width: 80vw;
}