body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


body, p, div, header {
  font-size: 100%; 
  line-height: 1.5;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}


*, :after, :before {
    box-sizing: border-box;
}