body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #333;
}


body, p, div, header {
  font-size: 100%; 
  line-height: 1.1;
  font-family: 'Montserrat', sans-serif;
  color: #FAFAFA;
}


*, :after, :before {
    box-sizing: border-box;
}