.project-blurb-container {
	left:0;
	right:0;
	display:flex;
	justify-content: center;
	align-items: center;
}

.project-blurb {
	height: 150px;
	width: 320px;
	background: rgba(255,255,255,0.96);
	transform: translateY(-60%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 6px;
	box-shadow: -2px 0 20px 4px RGBA(0,0,0,0.3);
}


.project-blurb-title {
	font-size: 1.7rem;
}

.project-blurb-category {
	font-size: 1rem;
	text-decoration: italic;
}

.Project {
	position: relative;
}

.video {
	box-shadow: 0 10px 30px 1px RGBA(0,0,0,0.3);
}