.project-blurb-container {
	left:0;
	right:0;
	display:flex;
	justify-content: center;
	align-items: center;
}

.project-blurb {
	height: 150px;
	width: 320px;
	background: rgba(255,255,255,0.96);
	transform: translateY(-60%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 6px;
}


.project-blurb-title {
	font-size: 1.7rem;
}

.project-blurb-category {
	font-size: 1rem;
	text-decoration: italic;
}

.Project::after {
	content: ' ';
	transform: rotate(-3deg);
	transform-origin: 3% 0;
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
}